*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: 'Montserrat', sans-serif;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}

.main-title {
  margin: 20px 0;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.1;
  color: #1e293b;
  margin-bottom: 24px;
  letter-spacing: -0.02em;
}
