.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 200ms ease-in;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #747bff;
  border-radius: 4px;
  transition: width 300ms ease-out;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}
